# Default values.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

controller:
  image:
    repository: k8s.gcr.io/ingress-nginx/controller
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

